@model MVC_SEGURIDAD.Models.CRUD.ROLEScrudInsert
@{
    ViewBag.Title = "Agregar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Agregar</h2>
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Agregar", "Roles", FormMethod.Post, new { role = "form", @class = "" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationMessage("error", new { @class = "tex-danger" })

            @Html.LabelFor(d => d.NOMROL)
            @Html.TextBoxFor(d => d.NOMROL, new { @class = "form-control" })
            

            <div style="text-align:right">
                <input type="submit" class="btn btn-success" value="Guardar" />

            </div>

        }
    </div>
</div>

