
@{
    ViewBag.Title = "Ingresar";
    Layout = "~/Views/Shared/_Login.cshtml";
}
<div class="row">
    <form action="@Url.Content("~/Accesos/Ingresar")" method="post" id="login-form" class="login-form" autocomplete="off" role="main">
        <h1 style="text-align:center">Ingreso</h1> 
        <label class="label-email">
            <input type="text" class="text" name="user" placeholder="Usuario" tabindex="2" />
            </label>
        <label class="label-password">
            <input type="text" class="text" name="password" placeholder="Password" tabindex="2" />
            <input type="submit" class="btn btn-success" name="Entrar" value="ENTRAR" />
            </label>
            <figure aria-hidden="true">
                <div class="person-body"></div>
                <div class="neck skin"></div>
                <div class="head skin">
                    <div class="eyes"></div>
                    <div class="mouth"></div>
                </div>
                <div class="hair"></div>
                <div class="ears"></div>
                <div class="shirt-1"></div>
                <div class="shirt-2"></div>
            </figure>
</form>
</div>
