
@{
    ViewBag.Title = "Ingresar";
    Layout = "~/Views/Shared/_Login.cshtml";
}
<div class="row">
    <form action="@Url.Content("~/Accesos/Ingresar")" method="post" id="login-form" class="login-form" autocomplete="off" role="main">
        <br />
        <img src="~/img/usam.png" width="175" height="140" style="display: block; margin:auto;" />
        <br /><br />
        <label class="label-email">
            <input type="text" class="text" name="user" placeholder="Usuario" tabindex="2" />
        </label>
        <label class="label-password">
            <input type="text" class="text" name="password" placeholder="Password" tabindex="2" />
            <input type="submit" class="btn btn-success" name="Entrar" value="ENTRAR" />
        </label>

        <br />
        <a href ="" style="color:darkred; text-align:center; font-size:13px">Olvidaste tu contraseña?</a>
        <br />

    </form>
</div>
